@using WebSiteBanSach.Models;
@model List<ChuDe>


@{
    ViewBag.Title = "DanhMucChuDe";
    Layout = "~/Views/Lay_out/NguoiDungLayout.cshtml";
}

@*hiển thị danh mục chủ đề*@
@foreach (var item in Model)
{
    <a href="@Url.Action("SachTheoChuDe", new { @MaChuDe=item.MaChuDe })" class="button button-submit">@item.TenChuDe</a>
    <br />
    <br />
}
