@using WebSiteBanSach.Models;
@model List<NhaXuatBan>


@foreach (var item in Model)
{            
    <div><a href="@Url.Action("SachTheoNXB", new { @MaNXB = item.MaNXB })">@item.TenNXB</a></div>
}

    <div><a href="@Url.Action("DanhMucNXB")">Nhà xuất bản khác</a></div>
